.simple-checkmark-animated-check {
  height: 10em;
  width: 10em;
}

.simple-checkmark-animated-check .simple-checkmark-path {
  fill: none;
  stroke-dasharray: 23;
  stroke-dashoffset: 23;
  animation: simple-checkmark-draw 1s linear forwards;
}

@keyframes simple-checkmark-draw {
  to {
    stroke-dashoffset: 0;
  }
}
